*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background: #cae1ec;
}
.product-container {
  width: 100%;
  height: 50px;
  background: #886f6f;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 2px solid black;
  color: rgb(241, 237, 237);
  border-radius: 8px;
}
.products {
  margin: 5rem auto;
  background: #1572a1;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 10px;
}
.products::after {
  content: "Shopping Cart";
  display: block;
  color: #9ad0ec;
}
.show-product {
  width: 200px;
  height: 100px;
  display: grid;
  place-items: center;
  text-align: center;
  background: #570530;
  color: #9ad0ec;
  border-radius: 5px;
  display: none;
  margin: 1rem auto;
}
.hide {
  display: grid;
}
/* the input and btn container */
.search-prod-container {
  display: flex;
}
.add-products {
  display: flex;
}
/* INPUTS */
input {
  width: 20%;
  height: 4.7vh;
}
/* Button Designs */

.button-28 {
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 3px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 12px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
}
.button-28:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}
.button-28:active {
  position: relative;
  top: 1px;
}
fieldset {
  max-width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  border: 4px solid rgb(176, 206, 176);
}
