body {
  background: rgb(133, 52, 52);
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10rem;
}
h1 {
  font-size: 3rem;
}
input {
  width: 20rem;
  height: 3rem;
  font-size: 1.3rem;
}
.inputs {
  display: flex;
  gap: 10px;
}
